/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  body{
    background-color: black;
  }
  /* principal */
  .container-fluid{
    background-color: black;
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
  }


  #principal h1{
    color: whitesmoke;
  }

  p{
    padding: 10px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
  }

  .messi{
    color: rgb(161, 161, 161);
    text-align: end;
  }

  #principal{
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #principalUno{
    background-color: rgba(0, 0, 0, 0.973);
  }

  #principalUno .parrafo{
    text-align: center;
    padding: 200px 12px;
    display: flex;
    justify-content: space-evenly;
  }

  #principalUno h2{
    margin: 10px;
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
  }

  #principalUno .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  #principalUno .img-contenedor{
    background-image: url("../img/principaluno.jpg");
    background-size: cover;
    background-position: center center;
    height: 700px;
    width: 600px; 
}

  .color-p{
    color: rgba(237, 238, 238, 0.918);
    text-align: center;
  }

  #principalDos{
    background-color: rgb(22, 22, 22);
  }

  #principalDos .texto{
    width: 50%;
    max-width: 500px;
    text-align: initial;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
  }

  
  #principalDos .parrafoDos {
    text-align: center;
    padding: 200px 12px;
    display: flex;
    text-align: end;
    justify-content: center;
    align-items: center;
  }
  


  #principalTres{
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.25),
        rgba(0,0,0,0.25)
    )
    ,url("../img/estadio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #principalTres h1{
    color: whitesmoke;
  }

  #principalTres p{
    padding: 10px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
  }


  #principalUno .textoTres{
    width: 50%;
    max-width: 600px;
    text-align: center;
    padding-left: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

  #principalUno .parrafoTres {
    text-align: center;
    padding: 200px 12px;
    display: flex;
    text-align: end;
    justify-content: center;
    align-items: center;
}
/* TIENDA */
  .tienda{
  background-color: rgb(17, 16, 16);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
  .card-text{
    color: black;
  }

  .card-body{
    display: grid;
    grid-template-columns: 100%;
  }

/* Formulario */
  .contacto{
    min-height: auto;
    padding-bottom: 7rem;
}

.contacto form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contacto form .input-caja{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contacto form .input-caja .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contacto form .input-caja .input-field input,
.contacto form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #d3dbdf;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}

.contacto form .input-caja .input-field input::placeholder,
.contacto form .textarea-field textarea::placeholder{
    color: whitesmoke;
}

.contacto form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contacto form .textarea-field textarea{
    resize: none;
}

.contacto form .caja{
    cursor: pointer;
}


.caja button{
    padding: 1.5px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.caja button:hover{
    color: #a7b4b9;
}

.caja button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.caja button:hover:before{
    width: 100%;

}
/* texto h2 */

h2{
  color: whitesmoke;
}

.heading{
  text-align: center;
}

/* footer */

  footer{
    background-color: rgb(17, 16, 16);
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}

  footer .email{
    text-decoration: none;
    color: whitesmoke;
  }

  footer .email:hover{
    color: rgb(99, 138, 153);
  }